# 依赖包
node_modules/
.pnp/
.pnp.js

# 测试相关
coverage/

# 生产环境构建产物
dist/
build/
out/

# 环境变量文件
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器配置
.idea/
.vscode/
*.swp
*.swo
.DS_Store
